.swiper {
  position: relative;
  height: 300px;
  overflow: hidden;

  &__window {
    // position: absolute;
    // top: 0;
    // left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    column-gap: 20px;
    min-width: 100%;
    touch-action: pan-x;
  }

  &__item {
    position: absolute;
    display: inline-block;
  }
}