.radio-custom {

  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    z-index: -1000;
  }

  &__checkbox {
    @include transition-basic;
    transition-property: border-color;
    --circle-diameter: 12px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
  }

  &:active {
    .radio-custom__outer-circle {
      border-color: var(--color-primary_shade);
    }
  }

  &__check-mark {
    @include transition-basic;
    transition-property: background-color;
    --circle-diameter: 6px;

    display: inline-block;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background-color: transparent;
    border-radius: 50%;
  }
}

.radio-custom--checked {

  .radio-custom__checkbox {
    border-color: var(--color-primary_shade);
  }

  .radio-custom__check-mark {
    background-color: var(--color-primary_shade);
  }
}