.content {
  --screen-height: calc(100vh - 50px);
  min-height: 100vh;
  padding-top: 55px;
  /* TODO если плавность blur сохранится, тогда можно будет это свойство удалить */
  // filter: blur(0); убрал, потому что иначе кнопка button-new (в collection) не становится fixed.
  transition: filter .4s ease-in-out;

  &__list {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  &__item {
    animation: show-item .3s ease-in forwards;
    width: 100%;
  }
}

.content.modal-opened {
  overflow: hidden;
}

.content--login-page {
  --screen-height: 100vh;
  padding-top: 0;
}

.content__list--message-on-page {
  min-height: calc(var(--screen-height) - 50px);

  .content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-inline: 10px;
  }
}

.content__list--cards-list-page {
  position: relative;
  display: block;

  .content__item {
    position: relative;
    top: 20%;
    padding-inline: 5px;
  }
}

.content__list--settings-page {
  align-items: flex-start;

  .content__item {
    padding-inline: 15px;
  }
}

.content__list--new-card-page {
  --item-width: calc(var(--screen-width) * 0.95);
  --item-height: calc(var(--item-width) * 0.56);
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;

  .content__item {
    display: flex;
    justify-content: center;
  }

  .card {
    width: var(--item-width);
    height: var(--item-height);
  }

  .button-wrap {
    display: flex;
    justify-content: flex-start;
    width: var(--item-width);

    .button {
      padding-inline: 0;
    }
  }

}

// TODO проверить на используемость
.content__list--single-top {
  align-items: flex-start;

  .content__item {
    width: 100%;
    padding-inline: 10px;
  }
}

.content__item--hide {
  animation: hide-item .3s ease-in forwards;
}

@media (min-width: $small-screen) {
  .content__list--new-card-page {
    --item-width: calc(var(--screen-width) * 0.75);
    padding-bottom: 0;
  }

  // TODO удалить
  // .content__list--cards-list-page {
  //   .content__item {
  //     padding-inline: 30px;
  //   }
  // }
}

@keyframes hide-item {
  0% {
    opacity: 1;
    z-index: 50;
  }

  99% {
    opacity: 0;
    z-index: 50;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes show-item {
  0% {
    opacity: 0;
    z-index: -1000;
  }

  1% {
    opacity: 0;
    z-index: 50
  }

  100% {
    opacity: 1;
    z-index: 50;
  }
}