.content {
  height: 100%;
  filter: blur(0);
  transition: filter .4s ease-in-out;

  &__list {
    --screen-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
  }

  &__item {
    animation: show-item .3s ease-in forwards;
  }
}

.content.modal-opened {
  filter: blur(2px);
}

.content__list--cards-list-page {
  position: relative;
  display: block;

  .content__item {
    position: relative;
    top: 20%;
    padding-inline: 5px;
  }
}

.content__list--new-card-page {
  --item-width: calc(var(--screen-width) * 0.95);
  --item-height: calc(var(--item-width) * 0.56);
  position: relative;
  justify-content: center;

  height: calc(100vh - 50px);

  .content__item {
    position: absolute;
    margin-inline: auto;
    width: var(--item-width);
    height: var(--item-height);
  }
}

.content__item--hide {
  animation: hide-item .3s ease-in forwards;
}

@media (min-width: $small-screen) {
  .content__list--new-card-page {
    --item-width: calc(var(--screen-width) * 0.75);
    padding-bottom: 0;
  }

  .content__list--cards-list-page {
    .content__item {
      padding-inline: 30px;
    }
  }
}

@keyframes hide-item {
  0% {
    opacity: 1;
    z-index: 50;
  }

  99% {
    opacity: 0;
    z-index: 50;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes show-item {
  0% {
    opacity: 0;
    z-index: -1000;
  }

  1% {
    opacity: 0;
    z-index: 50
  }

  100% {
    opacity: 1;
    z-index: 50;
  }
}