.new-card-page-form {
  --animation-duration: .7s;
  position: relative;

  &__item {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    animation: card-page-hide var(--animation-duration) ease-out;
  }
}

.new-card-page-form__item--active {
  position: relative;
  visibility: visible;
  opacity: 1;
  animation: card-page-show var(--animation-duration) ease-in;
}

.new-card-page-form--loading {
  --animation-duration: 0s;
}

@keyframes card-page-show {
  0% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  47% {
    position: absolute;
    visibility: hidden;
  }

  48% {
    position: relative;
    visibility: visible;
  }

  49% {
    opacity: 0;
  }

  100% {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes card-page-hide {
  0% {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    position: relative;
    visibility: visible;
  }

  50% {
    position: absolute;
    visibility: hidden;
  }

  100% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}