// TODO удалить item-amount и list-width
.swiper {
  --item-amount: 3;
  --item-width: calc(var(--screen-width) * 0.9);
  --item-height: calc(var(--item-width) * 0.6);
  --item-margin-right: calc((var(--screen-real-width) - var(--item-width)) / 4);
  --swiper-padding-left: calc(var(--item-margin-right) * 2);


  position: relative;
  overflow: hidden;

  padding-left: var(--swiper-padding-left);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: inline-block;
  //   width: var(--swiper-padding-left);
  //   height: 100%;
  //   z-index: 100;
  //   background-color: #fff;
  // }

  &__list {
    @include list-reset;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    // min-width: var(--list-width);
    touch-action: pan-x;

    transition: transform .3s ease-out;
  }

  &__item {
    @include noselect;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: var(--item-width);
    height: var(--item-height);
    margin-right: var(--item-margin-right);
  }
}

@media (max-width: $small-screen) {
  .swiper {
    // --item-amount: 3;
    // --item-width: calc(var(--screen-width) * 0.95);
    // --item-height: calc(var(--item-width) * 0.6);
    // --item-margin-right: calc((var(--screen-width) - var(--item-width)) / 4);
    // --swiper-padding-left: calc(var(--item-margin-right) * 2);

    // --list-width: calc(var(--item-width) * var(--item-amount));
  }
}