.swiper {
  --item-width: calc(var(--screen-width) * 0.9);
  --item-height: calc(var(--item-width) * 0.6);
  --item-margin-right: calc((var(--screen-real-width) - var(--item-width)) / 4);
  --swiper-padding-left: calc(var(--item-margin-right) * 2);


  position: relative;
  overflow: hidden;

  padding-left: var(--swiper-padding-left);

  &__list {
    @include list-reset;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    touch-action: pan-x;
    transition: transform .3s ease-out;
  }

  &__item {
    @include noselect;
    position: relative;

    flex-shrink: 0;
    flex-grow: 0;
    width: var(--item-width);
    height: var(--item-height);
    margin-right: var(--item-margin-right);
  }
}

@media (min-width: $medium-screen) {
  .swiper {
    --item-width: calc(var(--screen-width) * 0.70);
    --item-height: calc(var(--item-width) * 0.56);
  }
}