.swiper {
  --card-width: calc(var(--screen-width));
  --card-height: calc(var(--card-width) * 0.56);

  .swiper-slide {
    height: var(--card-height);
  }
}

@media (min-width: $medium-screen) {
  .swiper {
    --screen-width: calc(min(var(--medium-screen), 100vh) - 40px);
  }
}