.swiper {
  --card-width: calc(var(--screen-width) - 10px);
  --card-height: calc(var(--card-width) * 0.56);

  .swiper-slide {
    height: var(--card-height);
  }

  .card {
    height: var(--card-height);
    width: var(--card-width);
    margin-inline: auto;
  }
}

@media (min-width: $mobile-screen) {
  .swiper {
    --screen-width: calc(min(540px, 100vh) - 40px);
    // --card-width: 500px;

    .swiper-slide {
      height: unset;
    }

    .card {
      height: var(--card-height);
      width: var(--card-width);
      margin-inline: auto;
    }
  }
}