body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  font-weight: 400;
}

.app {
  height: 100vh;
  background-color: var(--page-background);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 992px;
  height: 100%;

  border: 1px solid red;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}