.button {
  @include btn-reset;
  @include link-reset;
  @include border;
  @include transition-basic;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  align-self: flex-end;
  transition-duration: .1s;
  transition-property: color, background-color, background-image, box-shadow;
}

.button--outline {
  border-color: var(--color-primary);
  color: var(--color-primary);

  &:active {
    border-color: var(--color-hover);
    background-color: var(--color-hover);
    color: #fff;
  }
}

@media (min-width: $medium-screen) {
  .button {
    transition-duration: .3s;
  }

  .button--outline:hover {
    border-color: var(--color-hover);
    background-color: var(--color-hover);
    color: #fff;
  }
}