.socials {
  &__list {
    @include list-reset;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
  }

  .svg-icon {
    display: inline-block;

    .svg__root {
      height: 30px;
      width: 30px;
    }
  }

  .svg-icon--google {
    .svg__root {
      width: 25px;
    }
  }
}