.header {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
  }

  .nav {
    width: auto;
  }

  &__compass {
    filter: blur(0);
    transition: filter .4s ease-in-out;
  }
}

.compass {
  &__button {
    @include btn-reset;
  }
}

.icon {
  padding-block: 5px;
  height: 70px;
  filter: blur(0);
  transition: filter .4s ease-in-out;

  &__img {
    max-width: auto;
    max-height: 100%;
  }
}

.modal-opened .header__icon,
.modal-opened .header__compass {
  filter: blur(2px);
}