.card {
  --turn-duration: 0.5s;

  height: 100%;
  border-radius: $border-radius-basic;
  overflow: hidden;
  position: relative;

  &__control-block {
    @include wrap-absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .control-block__body {
      min-width: 50%;
    }
  }

  &__body {
    --fade-duration: 0.5s;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding: 10px;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-size: 32px;
    color: #fff;
  }

  &__body-fade-in-out {
    &::after {
      content: '';
      @include wrap-absolute;
      background-color: var(--current-color);
      z-index: 100;
      opacity: 0;
      animation: body-fade-in-out 1s ease-in-out;
    }
  }

  &__content {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    line-height: 1.1;
  }

  &__text {
    text-align: center;
  }

  &__transcription {
    font-size: 25px;
  }

  &__input {
    display: none;
  }

  &__link {
    @include wrap-absolute;
  }
}

.card__body--rotate {
  animation: card-body-rotate var(--turn-duration) ease-in-out;
}

.card__body--native {
  --current-color: var(--color-primary);
  background-color: var(--color-primary);
}

.card__body--foreign {
  --current-color: var(--color-secondary);
  background-color: var(--color-secondary);

}

.card__content--rotate {
  transform: rotateX(180deg);
}

.card--edit {
  .card__content {
    height: 100%;
    line-height: 1.2;

    .card__text {
      display: none;
    }

    .card__input {
      display: block;
      height: 100%;
    }
  }
}

.content__list--new-card-page {
  .card {
    z-index: 50;
  }
}

.card--collection {

  box-shadow:
    3px 3px 1px var(--color-third),
    4px 4px 1px #fff,
    8px 8px 1px var(--color-third),
    9px 9px 1px #fff,
    13px 13px 1px var(--color-third);

  .card__body {
    --current-color: var(--color-third);
    opacity: 1;
    border-radius: $border-radius-basic;
    background-color: var(--color-third);
    transform: none;
    animation: none;
  }

  .card__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  .card__additional-info {
    position: absolute;
    top: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
  }

  .card__description {
    font-size: 20px;
  }
}