.card {
  --turn-duration: .5s;

  height: 100%;
  border-radius: $border-radius-basic;
  overflow: hidden;
  position: relative;

  &__control-block {
    @include wrap-absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .control-block__body {
      min-width: 50%;
    }
  }

  &__body {
    --fade-duration: 0.5s;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding: 10px;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-size: 32px;
    color: #fff;

    transform: rotateX(180deg);
  }

  &__body-fade-in-out {
    &::after {
      content: '';
      @include wrap-absolute;
      background-color: var(--current-color);
      z-index: 100;
      opacity: 0;
      animation: body-fade-in-out 1s ease-in-out;
    }
  }

  &__content {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    line-height: 1.1;
  }

  &__text {
    text-align: center;
  }

  &__transcription {
    font-size: 25px;
  }

  &__input {
    display: none;
  }

  &__link {
    @include wrap-absolute;
  }
}



.card__body--native {
  --current-color: var(--color-primary);
  animation: turn-foreign-to-native var(--turn-duration) ease-in-out forwards;
}

.card__body--foreign {
  --current-color: var(--color-secondary);
  animation: turn-native-to-foreign var(--turn-duration) ease-in-out forwards;
}

.card__content--native {
  animation: turn-content-native var(--turn-duration) ease-in-out forwards;
}

.card__content--foreign {
  animation: turn-content-foreign var(--turn-duration) ease-in-out forwards;
}

.card--edit {
  .card__content {
    height: 100%;
    line-height: 1.2;

    .card__text {
      display: none;
    }

    .card__input {
      display: block;
      height: 100%;
    }
  }
}

.content__list--new-card-page {
  .card {
    z-index: 50;
  }
}

.card--collection {
  // TODO если будут проблемы с отображением, сделать более очевидный вариант
  //так красивее, но как это работает, я не понял.
  box-shadow: 5px 5px 1px #0090FF, 5px 5px 1px #fff, 10px 10px 1px #0090FF;
  // box-shadow: 3px 3px 1px #0080FF, 5px 5px 1px #00a0FF, 7px 7px 1px #0080FF;


  .card__body {
    opacity: 1;
    border-radius: $border-radius-basic;
    background-color: var(--color-primary);
    transform: none;
    animation: none;
  }

  .card__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  .card__additional-info {
    position: absolute;
    top: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
  }

  .card__description {
    font-size: 20px;
  }
}