.control-block {
  --animation-duration: .3s;
  animation: control-block-hide calc(var(--animation-duration) + .2s) ease forwards;


  &::after {
    content: '';
    @include wrap-absolute;
    background-color: var(--current-color);
    z-index: -10;
    animation: after-hide calc(var(--animation-duration) + .1s) ease-out calc(var(--animation-duration)) forwards;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    padding: 15px;
  }

  &__button {
    @include btn-reset;
    padding-inline: 10px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: $border-radius-basic;
    font-size: 25px;
    color: #fff;
    animation: buttons-hide var(--animation-duration) ease forwards;
  }
}

.control-block--active {
  animation: control-block-visible var(--animation-duration) ease-in forwards;

  .control-block__button {
    opacity: 0;
    animation: buttons-visible 1s ease forwards .4s;
  }

  &::after {
    content: '';
    @include wrap-absolute;
    background-color: var(--current-color);
    z-index: -10;
    animation: after-visible var(--animation-duration) ease-in forwards;
  }
}

@keyframes control-block-hide {
  0% {
    visibility: visible;
    z-index: 50;
  }

  99% {
    visibility: visible;
    z-index: 50;
  }

  100% {
    visibility: hidden;
    z-index: -1000;
  }
}

@keyframes control-block-visible {
  0% {
    visibility: hidden;
    z-index: -1000;
  }

  1% {
    visibility: visible;
    z-index: 50;

  }

  100% {
    visibility: visible;
    z-index: 50;
  }
}

@keyframes after-visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes after-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes buttons-visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttons-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}